.title {
    text-align: center;
    
}

.info-home {
        cursor: pointer;
        align-self: flex-end;
        border: 2px solid lightslategrey;
        margin: 1rem 1.15rem 0 0;
        padding: 0.45rem;
        border-radius: 16px;
        font-weight: 700;
        font-size: 1rem;
        color: lightslategray;
    }